{% extends 'main/layout.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/css/reg.css' %}">
{% endblock %}
{% block title %}Регистрация{% endblock %}

{% block content %}
<form method="post">
    <div class="form">
        {% csrf_token %}
        <div class="telo">
            <div class="fam">
                <p>Фамилия</p>
            </div>
            {{ form.familia }}
            <div class="name">
                <p>Имя</p>
            </div>
            {{ form.ima }}
            <div class="mail">
                <p>Email</p>
            </div>
            {{ form.pochta }}
            <div class="password">
                <p>Пароль</p>
            </div>
            {{ form.password }}
            <button type="submit">Продолжить</button>
        </div>
    </div>
</form>

{% endblock %}