body {
    background: #B8B8B8;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
div.telo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    justify-content: center;
    background:#D9D9D9;
    padding: 50px;
    border-radius: 10px;
}
div {
    display: grid;
    place-items: center center;
}
div.fam {
    font-size: 25px;
}
div.name {
    font-size: 25px;
}
div.mail {
    font-size: 25px;
}
div.password {
    font-size: 25px;
}
input.fam_input {
    font-size: 25px;
    width: 337px;
    height: 56px;
    border: none;
    background: #B8B8B8;
    border-radius: 5px;
}
input.name_input {
    font-size: 25px;
    width: 337px;
    height: 56px;
    border: none;
    background: #B8B8B8;
    border-radius: 5px;
}
input.mail_input {
    font-size: 25px;
    width: 337px;
    height: 56px;
    border: none;
    background: #B8B8B8;
    border-radius: 5px;
}
input.password_input {
    font-size: 25px;
    width: 337px;
    height: 56px;
    border: none;
    background: #B8B8B8;
    border-radius: 5px;
}
button {
    font-size: 25px;
    margin-top: 84px;
    width: 220px;
    height: 65px;
    background: #B8B8B8;
    border-radius: 5px;
    border: none;
}
input:focus{
    outline: none;
}